<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arkapp.carparknaviagation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.navigation.NavigationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="KvWW1dd9JA0szoB8XVuu" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="RyLxOzCI2AEEH78XOk0IKw" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="JrMo/7DeE++rdOWVhamhyrXLA2UHlsgRiNeW9+VJxw4xcAb4OCZtnxgZlblv6njr1CcYVuPE66kagUoVwBjyt2t+KgKBV8hTmzxq5MRQrQVBo5HQTxvJTlJa5lr+g9OyXK9YIhVa/dPRuMgrA3q4b1SD4jOwzext08p9Mn6uY1c9bqo2lZ1K7jf28FU/JFSzRx3byJLvv+SGQib7VQqX36qUAXNfdhC1xjEJ1a9AAQUtR12FkNxhB3m5MkkUrsp0AECuzk4fR5nBeY/jff8Vt210K4M8DB/0D2lZYg9lg/Y4Lvl/KgEd2gjBB7wcoTsaVvYAbmNoY7WGZk0VGux2Q6g4VTefl+fLTshwkFThPfkRqJ0D20etPw3U+0MUqx+ngeR+tPPH/3TbVLXnpo25bTyCuQWI2DcsZ9xkT3oUbRXR8gCIS7yjNxAd9VIcyTDReknG97801VUgZA0ScRKz37PY7NYuODOLBvoyhKMnzoV0+4ajizcrRryIFSaOEmu5RwfyNkIsCHPFKmSGiXZqW0b2x3q+44GzWXoZ6HGDbCkw/l8Xj1Fq4Yg0ht1fiJ+YTKD1jMHA7QkKPDxCd5yjC/sPMdapqs18j2fqF5Im1pA/0LGr0tgy6+tfc1BtGeAqyAYzUIGxq88oI8rLeUWfvtZs3Kn0V38VWcm1RaXGzF4=" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwCCLaZyQuRFlbDR98m2imUkT3PrkIvp4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".utility.maps.navigation.ForegroundService" />
    </application>

</manifest>